Repository bounswe/bounswe2022group9, pull requests merged in 2022-05, with the labels that each got.

#121 Creating initial files for practice application
  practice-app/.gitignore
  practice-app/README.md
  practice-app/event_app/__init__.py
  practice-app/event_app/apps.py
  practice-app/event_app/db_utils.py
  practice-app/event_app/forms.py
  practice-app/event_app/templates/home.html
  practice-app/event_app/templates/login.html
  practice-app/event_app/templates/sign_in.html
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
  practice-app/manage.py
  practice-app/requirements.txt
  practice-app/src/__init__.py
  practice-app/src/asgi.py
  practice-app/src/create_db.py
  practice-app/src/settings.py
  practice-app/src/urls.py
  practice-app/src/wsgi.py
Labels: Priority: High, In Progress, Practice Application

#144 show universities functionality
  practice-app/event_app/forms.py
  practice-app/event_app/templates/home.html
  practice-app/event_app/templates/universityFormPage.html
  practice-app/event_app/templates/universityShowPage.html
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
Labels: Enhancement, Priority: High, Practice Application

#132 Adding random fun activities functionality
  practice-app/event_app/templates/home.html
  practice-app/event_app/templates/viewActivity.html
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
Labels: Enhancement, Completed, Practice Application

#143 Adding information about subject functionality
  practice-app/event_app/templates/home.html
  practice-app/event_app/templates/view_subject_info.html
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
Labels: Enhancement, Priority: Medium, Practice Application

#155 view random useless fact functionality
  practice-app/event_app/templates/home.html
  practice-app/event_app/templates/viewRandomUselessFact.html
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
Labels: Enhancement, Priority: High, Practice Application

#153 adding and showing education history functionality is added
  practice-app/event_app/forms.py
  practice-app/event_app/templates/AddEducationFormPage.html
  practice-app/event_app/templates/ShowEducationPage.html
  practice-app/event_app/templates/home.html
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
  practice-app/src/create_db.py
Labels: Enhancement, Priority: High, Practice Application

#159 Adding unit tests
  practice-app/event_app/forms.py
  practice-app/event_app/tests/__init__.py
  practice-app/event_app/tests/__pycache__/__init__.cpython-38.pyc
  practice-app/event_app/tests/__pycache__/test_forms.cpython-38.pyc
  practice-app/event_app/tests/__pycache__/test_urls.cpython-38.pyc
  practice-app/event_app/tests/__pycache__/test_views.cpython-38.pyc
  practice-app/event_app/tests/test_forms.py
  practice-app/event_app/tests/test_urls.py
  practice-app/event_app/tests/test_views.py
  practice-app/event_app/views.py
Labels: Priority: Medium, Completed, Practice Application

#165 Adding Github Api
  practice-app/.gitignore
  practice-app/event_app/tests/test_views.py
  practice-app/event_app/views.py
  practice-app/github_api/__init__.py
  practice-app/github_api/admin.py
  practice-app/github_api/apps.py
  practice-app/github_api/models.py
  practice-app/github_api/serializer.py
  practice-app/github_api/tests.py
  practice-app/github_api/urls.py
  practice-app/github_api/views.py
  practice-app/requirements.txt
  practice-app/src/settings.py
  practice-app/src/urls.py
Labels: Priority: Medium, Completed, Practice Application

#166 Migration files are added
  practice-app/.gitignore
  practice-app/github_api/migrations/0001_initial.py
  practice-app/github_api/migrations/__init__.py
  practice-app/github_api/migrations/__pycache__/0001_initial.cpython-38.pyc
  practice-app/github_api/migrations/__pycache__/__init__.cpython-38.pyc
Labels: Priority: Medium, Completed, Practice Application

#170 Adding Geolocation Api
  practice-app/geolocation_api/__init__.py
  practice-app/geolocation_api/__pycache__/__init__.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/admin.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/apps.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/models.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/serializer.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/urls.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/views.cpython-38.pyc
  practice-app/geolocation_api/admin.py
  practice-app/geolocation_api/apps.py
  practice-app/geolocation_api/migrations/0001_initial.py
  practice-app/geolocation_api/migrations/0002_alter_ipaddresses_updated_on.py
  practice-app/geolocation_api/migrations/__init__.py
  practice-app/geolocation_api/migrations/__pycache__/0001_initial.cpython-38.pyc
  practice-app/geolocation_api/migrations/__pycache__/0002_alter_ipaddresses_updated_on.cpython-38.pyc
  practice-app/geolocation_api/migrations/__pycache__/__init__.cpython-38.pyc
  practice-app/geolocation_api/models.py
  practice-app/geolocation_api/serializer.py
  practice-app/geolocation_api/tests.py
  practice-app/geolocation_api/urls.py
  practice-app/geolocation_api/views.py
  practice-app/github_api/migrations/__pycache__/0001_initial.cpython-38.pyc
  practice-app/github_api/migrations/__pycache__/__init__.cpython-38.pyc
  practice-app/src/settings.py
  practice-app/src/urls.py
Labels: Priority: Medium, Completed, Practice Application

#177 IP Address information functionality added
  practice-app/event_app/templates/home.html
  practice-app/event_app/templates/viewIpInfo.html
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
  practice-app/requirements.txt
Labels: Priority: Medium, Completed, Practice Application

#178 Api page template
  practice-app/event_app/templates/api.html
  practice-app/event_app/templates/login.html
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
  practice-app/geolocation_api/__pycache__/__init__.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/admin.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/apps.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/models.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/serializer.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/urls.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/views.cpython-38.pyc
  practice-app/geolocation_api/admin.py
  practice-app/geolocation_api/migrations/__pycache__/0001_initial.cpython-38.pyc
  practice-app/geolocation_api/migrations/__pycache__/0002_alter_ipaddresses_updated_on.cpython-38.pyc
  practice-app/geolocation_api/migrations/__pycache__/__init__.cpython-38.pyc
  practice-app/github_api/admin.py
  practice-app/github_api/migrations/__pycache__/0001_initial.cpython-38.pyc
  practice-app/github_api/migrations/__pycache__/__init__.cpython-38.pyc
Labels: Priority: Medium, Completed, Practice Application

#169 back and another links added
  practice-app/event_app/templates/viewActivity.html
Labels: Enhancement, Priority: Medium, Practice Application

#199 Added Berkkant's api
  practice-app/event_app/models.py
  practice-app/event_app/serializer.py
  practice-app/event_app/templates/api.html
  practice-app/event_app/templates/home.html
  practice-app/event_app/templates/race_standing.html
  practice-app/event_app/templates/standings.html
  practice-app/event_app/tests/test_f1.py
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
  practice-app/formula1_api/__init__.py
  practice-app/formula1_api/__pycache__/__init__.cpython-39.pyc
  practice-app/formula1_api/__pycache__/admin.cpython-39.pyc
  practice-app/formula1_api/__pycache__/apps.cpython-39.pyc
  practice-app/formula1_api/__pycache__/models.cpython-39.pyc
  practice-app/formula1_api/__pycache__/urls.cpython-39.pyc
  practice-app/formula1_api/__pycache__/views.cpython-39.pyc
  practice-app/formula1_api/admin.py
  practice-app/formula1_api/apps.py
  practice-app/formula1_api/migrations/__init__.py
  practice-app/formula1_api/migrations/__pycache__/__init__.cpython-39.pyc
  practice-app/formula1_api/models.py
  practice-app/formula1_api/tests.py
  practice-app/formula1_api/urls.py
  practice-app/formula1_api/views.py
  practice-app/geolocation_api/__pycache__/__init__.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/admin.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/apps.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/models.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/serializer.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/urls.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/views.cpython-39.pyc
  practice-app/geolocation_api/migrations/__pycache__/0001_initial.cpython-39.pyc
  practice-app/geolocation_api/migrations/__pycache__/0002_alter_ipaddresses_updated_on.cpython-39.pyc
  practice-app/geolocation_api/migrations/__pycache__/__init__.cpython-39.pyc
  practice-app/github_api/migrations/__pycache__/0001_initial.cpython-39.pyc
  practice-app/github_api/migrations/__pycache__/__init__.cpython-39.pyc
  practice-app/src/settings.py
  practice-app/src/urls.py
Labels: Priority: Urgent

#202 same changes as in branch findCurrency, but resolved conflicts
  practice-app/countryCodes_api/__init__.py
  practice-app/countryCodes_api/admin.py
  practice-app/countryCodes_api/apps.py
  practice-app/countryCodes_api/migrations/__init__.py
  practice-app/countryCodes_api/models.py
  practice-app/countryCodes_api/serializer.py
  practice-app/countryCodes_api/tests.py
  practice-app/countryCodes_api/urls.py
  practice-app/countryCodes_api/views.py
  practice-app/event_app/templates/findCurrency.html
  practice-app/event_app/templates/findCurrency_page.html
  practice-app/event_app/templates/home.html
  practice-app/event_app/tests/test_urls.py
  practice-app/event_app/tests/test_views.py
  practice-app/event_app/urls.py
  practice-app/event_app/views.py
  practice-app/formula1_api/__pycache__/__init__.cpython-39.pyc
  practice-app/formula1_api/__pycache__/admin.cpython-39.pyc
  practice-app/formula1_api/__pycache__/apps.cpython-39.pyc
  practice-app/formula1_api/__pycache__/models.cpython-39.pyc
  practice-app/formula1_api/__pycache__/urls.cpython-39.pyc
  practice-app/formula1_api/__pycache__/views.cpython-39.pyc
  practice-app/formula1_api/migrations/__pycache__/__init__.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/__init__.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/admin.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/apps.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/models.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/serializer.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/urls.cpython-39.pyc
  practice-app/geolocation_api/__pycache__/views.cpython-39.pyc
  practice-app/geolocation_api/migrations/__pycache__/0001_initial.cpython-39.pyc
  practice-app/geolocation_api/migrations/__pycache__/0002_alter_ipaddresses_updated_on.cpython-39.pyc
  practice-app/geolocation_api/migrations/__pycache__/__init__.cpython-39.pyc
  practice-app/github_api/migrations/__pycache__/0001_initial.cpython-39.pyc
  practice-app/github_api/migrations/__pycache__/__init__.cpython-39.pyc
  practice-app/src/settings.py
  practice-app/src/urls.py
Labels: Enhancement, Priority: High, Practice Application

#172 added unit tests
  practice-app/event_app/tests/__pycache__/__init__.cpython-38.pyc
  practice-app/event_app/tests/__pycache__/test_forms.cpython-38.pyc
  practice-app/event_app/tests/__pycache__/test_urls.cpython-38.pyc
  practice-app/event_app/tests/__pycache__/test_views.cpython-38.pyc
  practice-app/event_app/tests/test_forms.py
  practice-app/event_app/tests/test_urls.py
  practice-app/event_app/tests/test_views.py
Labels: Priority: High, Practice Application

#201 Add API for wikipedia summary
  practice-app/.gitignore
  practice-app/src/urls.py
  practice-app/summary_api/__init__.py
  practice-app/summary_api/admin.py
  practice-app/summary_api/apps.py
  practice-app/summary_api/migrations/__init__.py
  practice-app/summary_api/models.py
  practice-app/summary_api/tests.py
  practice-app/summary_api/urls.py
  practice-app/summary_api/views.py
Labels: Enhancement, Priority: Medium, Practice Application

#225 player_info_api added
  practice-app/.gitignore
  practice-app/event_app/templates/api.html
  practice-app/github_api/migrations/__pycache__/0001_initial.cpython-310.pyc
  practice-app/github_api/migrations/__pycache__/__init__.cpython-310.pyc
  practice-app/player_info_api/__init__.py
  practice-app/player_info_api/admin.py
  practice-app/player_info_api/apps.py
  practice-app/player_info_api/migrations/0001_initial.py
  practice-app/player_info_api/migrations/__init__.py
  practice-app/player_info_api/models.py
  practice-app/player_info_api/serializer.py
  practice-app/player_info_api/tests.py
  practice-app/player_info_api/urls.py
  practice-app/player_info_api/views.py
  practice-app/src/settings.py
  practice-app/src/urls.py
Labels: Priority: High, Completed, Practice Application

#195 added unit tests for viewRandomUselessFact and add_event
  practice-app/event_app/tests/test_forms.py
  practice-app/event_app/tests/test_urls.py
  practice-app/event_app/tests/test_views.py
  practice-app/geolocation_api/__pycache__/__init__.cpython-310.pyc
  practice-app/geolocation_api/__pycache__/admin.cpython-310.pyc
  practice-app/geolocation_api/__pycache__/apps.cpython-310.pyc
  practice-app/geolocation_api/__pycache__/models.cpython-310.pyc
  practice-app/geolocation_api/__pycache__/serializer.cpython-310.pyc
  practice-app/geolocation_api/__pycache__/urls.cpython-310.pyc
  practice-app/geolocation_api/__pycache__/views.cpython-310.pyc
  practice-app/geolocation_api/migrations/__pycache__/0001_initial.cpython-310.pyc
  practice-app/geolocation_api/migrations/__pycache__/0002_alter_ipaddresses_updated_on.cpython-310.pyc
  practice-app/geolocation_api/migrations/__pycache__/__init__.cpython-310.pyc
Labels: Priority: High, Completed, Practice Application

#184 Unit tests for IP Info and View Activity are added
  practice-app/event_app/tests/test_urls.py
  practice-app/event_app/tests/test_views.py
  practice-app/event_app/views.py
  practice-app/geolocation_api/__pycache__/__init__.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/admin.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/apps.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/models.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/serializer.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/urls.cpython-38.pyc
  practice-app/geolocation_api/__pycache__/views.cpython-38.pyc
  practice-app/geolocation_api/migrations/__pycache__/0001_initial.cpython-38.pyc
  practice-app/geolocation_api/migrations/__pycache__/0002_alter_ipaddresses_updated_on.cpython-38.pyc
  practice-app/geolocation_api/migrations/__pycache__/__init__.cpython-38.pyc
  practice-app/github_api/migrations/__pycache__/0001_initial.cpython-38.pyc
  practice-app/github_api/migrations/__pycache__/__init__.cpython-38.pyc
Labels: Priority: High, Completed, Practice Application
