Repository bounswe/bounswe2022group9, pull requests merged in 2022-10, with the labels that each got.

#261 [Mobile] - add constant colors
  art-community-platform/mobile/.expo/packager-info.json
  art-community-platform/mobile/.expo/settings.json
  art-community-platform/mobile/.gitignore
  art-community-platform/mobile/app.json
  art-community-platform/mobile/screens/Home.js
  art-community-platform/mobile/screens/Login/Login.js
  art-community-platform/mobile/screens/Settings.js
  art-community-platform/mobile/screens/constants/Colors.js
  art-community-platform/mobile/yarn.lock
Labels: Mobile

#259 [Backend] Signup(register)
  .idea/.gitignore
  .idea/bounswe2022group9.iml
  .idea/inspectionProfiles/profiles_settings.xml
  .idea/misc.xml
  .idea/modules.xml
  .idea/vcs.xml
  art-community-platform/__init__.py
  art-community-platform/backend/__init__.py
  art-community-platform/backend/app/__init__.py
  art-community-platform/backend/app/app/settings.py
  art-community-platform/backend/app/app/urls.py
  art-community-platform/backend/app/user/__init__.py
  art-community-platform/backend/app/user/admin.py
  art-community-platform/backend/app/user/apps.py
  art-community-platform/backend/app/user/migrations/0001_initial.py
  art-community-platform/backend/app/user/migrations/0002_auto_20221024_1950.py
  art-community-platform/backend/app/user/migrations/__init__.py
  art-community-platform/backend/app/user/models.py
  art-community-platform/backend/app/user/serializers.py
  art-community-platform/backend/app/user/tests/__init__.py
  art-community-platform/backend/app/user/tests/test_models.py
  art-community-platform/backend/app/user/tests/test_urls.py
  art-community-platform/backend/app/user/tests/test_views.py
  art-community-platform/backend/app/user/urls.py
  art-community-platform/backend/app/user/validation_methods.py
  art-community-platform/backend/app/user/views.py
  art-community-platform/backend/docker-compose.yml
  art-community-platform/backend/requirements.txt
Labels: Priority: Medium, Backend

#280 [Backend] Login
  art-community-platform/backend/.gitignore
  art-community-platform/backend/app/user/tests/test_urls.py
  art-community-platform/backend/app/user/tests/test_views.py
  art-community-platform/backend/app/user/urls.py
  art-community-platform/backend/app/user/views.py
  art-community-platform/backend/docker-compose-deploy.yml
  art-community-platform/backend/docker-compose.yml
Labels: Enhancement, Priority: Medium, Backend

#292 Karagozu #254 axios and routing
  art-community-platform/frontend/.gitignore
  art-community-platform/frontend/README.md
  art-community-platform/frontend/init.txt
  art-community-platform/frontend/package-lock.json
  art-community-platform/frontend/package.json
  art-community-platform/frontend/public/favicon.ico
  art-community-platform/frontend/public/index.html
  art-community-platform/frontend/public/logo192.png
  art-community-platform/frontend/public/logo512.png
  art-community-platform/frontend/public/manifest.json
  art-community-platform/frontend/public/robots.txt
  art-community-platform/frontend/src/App.css
  art-community-platform/frontend/src/App.js
  art-community-platform/frontend/src/components/Login.js
  art-community-platform/frontend/src/components/Profile.css
  art-community-platform/frontend/src/components/Profile.js
  art-community-platform/frontend/src/components/Signup.js
  art-community-platform/frontend/src/constants/Colors.js
  art-community-platform/frontend/src/history.js
  art-community-platform/frontend/src/index.css
  art-community-platform/frontend/src/index.js
  art-community-platform/frontend/src/pages/LoginPage.js
  art-community-platform/frontend/src/pages/ProfilePage.js
  art-community-platform/frontend/src/pages/SignupPage.js
  art-community-platform/frontend/src/reportWebVitals.js
  art-community-platform/frontend/src/routing/AuthRoute.js
  art-community-platform/frontend/src/routing/PublicRoute.js
  art-community-platform/frontend/src/routing/RouteList.js
  art-community-platform/frontend/src/store/actions/loginActions.js
  art-community-platform/frontend/src/store/axios.js
  art-community-platform/frontend/src/store/reducers/index.js
  art-community-platform/frontend/src/store/reducers/loginReducers.js
  art-community-platform/frontend/src/store/store.js
  art-community-platform/frontend/src/store/types.js
  art-community-platform/frontend/src/store/urls.js
  art-community-platform/frontend/src/utils/helper.js
Labels: Priority: High, Design, Frontend
