Repository bounswe/bounswe2022group9, pull requests merged in 2022-11, with the labels that each got.

#327 [Backend] Create ArtItem Model
  art-community-platform/backend/app/user/migrations/0004_auto_20221113_1327.py
  art-community-platform/backend/app/user/models.py
  art-community-platform/backend/app/user/serializers.py
Labels: Priority: High, Backend

#338 refactoring and some features
  art-community-platform/backend/.DS_Store
  art-community-platform/backend/Dockerfile
  art-community-platform/backend/app/api/__init__.py
  art-community-platform/backend/app/api/admin.py
  art-community-platform/backend/app/api/apps.py
  art-community-platform/backend/app/api/helpers/__init__.py
  art-community-platform/backend/app/api/helpers/art_item_helpers.py
  art-community-platform/backend/app/api/helpers/comment_helpers.py
  art-community-platform/backend/app/api/helpers/exhibition_helpers.py
  art-community-platform/backend/app/api/helpers/notification_helpers.py
  art-community-platform/backend/app/api/helpers/tag_helpers.py
  art-community-platform/backend/app/api/helpers/user_helpers.py
  art-community-platform/backend/app/api/migrations/0001_initial.py
  art-community-platform/backend/app/api/migrations/0002_auto_20221024_1950.py
  art-community-platform/backend/app/api/migrations/0003_auto_20221112_1737.py
  art-community-platform/backend/app/api/migrations/0004_auto_20221113_1327.py
  art-community-platform/backend/app/api/migrations/__init__.py
  art-community-platform/backend/app/api/models/art_item.py
  art-community-platform/backend/app/api/models/comment.py
  art-community-platform/backend/app/api/models/exhibition.py
  art-community-platform/backend/app/api/models/notification.py
  art-community-platform/backend/app/api/models/tag.py
  art-community-platform/backend/app/api/models/user.py
  art-community-platform/backend/app/api/serializers/__init__.py
  art-community-platform/backend/app/api/serializers/serializers.py
  art-community-platform/backend/app/api/tests/__init__.py
  art-community-platform/backend/app/api/tests/test_urls.py
  art-community-platform/backend/app/api/tests/test_views.py
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/art_item.py
  art-community-platform/backend/app/api/views/auth.py
  art-community-platform/backend/app/api/views/comment.py
  art-community-platform/backend/app/api/views/exhibition.py
  art-community-platform/backend/app/api/views/follow.py
  art-community-platform/backend/app/api/views/health_check.py
  art-community-platform/backend/app/api/views/notification.py
  art-community-platform/backend/app/api/views/tag.py
  art-community-platform/backend/app/api/views/user.py
  art-community-platform/backend/app/app/settings.py
  art-community-platform/backend/app/app/urls.py
  art-community-platform/backend/app/user/validation_methods.py
  art-community-platform/backend/docker-compose.yml
  art-community-platform/backend/run-app.sh
Labels: Priority: Medium, Completed, Backend

#344 added "get_profile_info" endpoint
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/user.py
Labels: Priority: Medium, Backend

#347 Notification and Exhibition Models
  art-community-platform/backend/app/api/admin.py
  art-community-platform/backend/app/api/migrations/0005_auto_20221121_1323.py
  art-community-platform/backend/app/api/models/art_item.py
  art-community-platform/backend/app/api/models/exhibition.py
  art-community-platform/backend/app/api/models/notification.py
  art-community-platform/backend/app/api/serializers/serializers.py
  art-community-platform/backend/app/api/views/art_item.py
  art-community-platform/backend/app/app/settings.py
  art-community-platform/backend/app/app/urls.py
  art-community-platform/backend/requirements.txt
Labels: Priority: High, Backend

#349 Be/fix/ps issues 1
  art-community-platform/backend/app/api/helpers/exhibition_helpers.py
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/art_item.py
  art-community-platform/backend/app/api/views/user.py
Labels: Enhancement, Backend

#357 Creating Art Items
  art-community-platform/backend/.env.sample
  art-community-platform/backend/app/api/migrations/0006_auto_20221128_1028.py
  art-community-platform/backend/app/api/models/art_item.py
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/art_item.py
  art-community-platform/backend/app/app/settings.py
  art-community-platform/backend/app/app/urls.py
  art-community-platform/backend/requirements.txt
Labels: Enhancement, Priority: High, Backend
