Repository bounswe/bounswe2022group9, pull requests merged in 2022-12, with the labels that each got.

#362 exhibition feature implemented
  art-community-platform/backend/app/api/helpers/exhibition_helpers.py
  art-community-platform/backend/app/api/migrations/0008_auto_20221201_0034.py
  art-community-platform/backend/app/api/models/exhibition.py
  art-community-platform/backend/app/api/views/exhibition.py
Labels: Enhancement, Backend

#363 favourite comment features
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/art_item.py
  art-community-platform/backend/app/api/views/comment.py
  art-community-platform/backend/app/api/views/favourite.py
  art-community-platform/backend/app/api/views/follow.py
Labels: Enhancement, Backend

#364 response lists sorted
  art-community-platform/backend/app/api/helpers/user_helpers.py
  art-community-platform/backend/app/api/views/art_item.py
  art-community-platform/backend/app/api/views/homepage.py
  art-community-platform/backend/app/api/views/user.py
Labels: Enhancement, Backend

#365 Feature Recommendation
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/art_item.py
Labels: Enhancement, Backend

#374 Adding Database (dockerized) and empty sample app to Annotation Project
  art-community-platform/backend-annotations/.gitignore
  art-community-platform/backend-annotations/Dockerfile
  art-community-platform/backend-annotations/app/app/settings.py
  art-community-platform/backend-annotations/app/core/__init__.py
  art-community-platform/backend-annotations/app/core/admin.py
  art-community-platform/backend-annotations/app/core/apps.py
  art-community-platform/backend-annotations/app/core/management/__init__.py
  art-community-platform/backend-annotations/app/core/management/commands/__init__.py
  art-community-platform/backend-annotations/app/core/management/commands/wait_for_db.py
  art-community-platform/backend-annotations/app/core/migrations/__init__.py
  art-community-platform/backend-annotations/app/core/models.py
  art-community-platform/backend-annotations/app/core/tests.py
  art-community-platform/backend-annotations/app/core/views.py
  art-community-platform/backend-annotations/docker-compose.yml
  art-community-platform/backend-annotations/requirements.txt
Labels: Priority: High, Backend

#376 Search Engine For a User
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/searchUser.py
Labels: Enhancement, Priority: High, Backend

#377 Fix search user
  art-community-platform/backend/app/api/tests/test_urls.py
  art-community-platform/backend/app/api/tests/test_views.py
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/search.py
  art-community-platform/backend/app/api/views/searchUser.py
Labels: Bug, Backend

#385 Search art item
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/search.py
Labels: Enhancement, Priority: High, Backend

#380 Unit tests
  art-community-platform/backend/__init__.py
  art-community-platform/backend/app/__init__.py
  art-community-platform/backend/app/api/tests/test_art_item.py
  art-community-platform/backend/app/api/tests/test_auth.py
  art-community-platform/backend/app/api/tests/test_comment.py
  art-community-platform/backend/app/api/tests/test_exhibition.py
  art-community-platform/backend/app/api/tests/test_homepage.py
  art-community-platform/backend/app/api/tests/test_notification.py
  art-community-platform/backend/app/api/tests/test_tag.py
  art-community-platform/backend/app/api/tests/test_urls.py
  art-community-platform/backend/app/api/tests/test_user.py
  art-community-platform/backend/app/api/tests/test_views.py
Labels: Priority: Medium, Backend

#388 Search exhibition
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/search.py
Labels: Enhancement, Priority: High, Backend

#389 Enhancement of helpers
  art-community-platform/backend/app/api/helpers/user_helpers.py
Labels: Enhancement, Priority: Medium, Backend

#390 Count numbers Added
  art-community-platform/backend/app/api/views/user.py
Labels: Priority: High, Backend

#394 image upload fields changed
  art-community-platform/backend/app/api/helpers/art_item_helpers.py
  art-community-platform/backend/app/api/views/art_item.py
  art-community-platform/backend/app/api/views/profile.py
Labels: Priority: High, Backend

#499 [Backend] Annotation Model
  art-community-platform/backend/app/api/admin.py
  art-community-platform/backend/app/api/models/annotation.py
  art-community-platform/backend/app/api/serializers/serializers.py
  art-community-platform/backend/app/api/views/annotation.py
Labels: Priority: High, Completed, Backend

#500 Annotation create endpoint
  art-community-platform/backend/app/api/migrations/0009_annotation.py
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/annotation.py
Labels: Enhancement, Priority: High, Backend

#503 [Backend] Annotation Endpoints
  art-community-platform/backend/app/api/helpers/annotation_helpers.py
  art-community-platform/backend/app/api/migrations/0010_artitem_annotations.py
  art-community-platform/backend/app/api/models/art_item.py
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/annotation.py
  art-community-platform/backend/app/api/views/art_item.py
Labels: Enhancement, Backend

#506 [Hotfix] Image Upload
  art-community-platform/backend/app/api/views/art_item.py
  art-community-platform/backend/app/api/views/auth.py
  art-community-platform/backend/app/api/views/image_upload.py
  art-community-platform/backend/app/api/views/tag.py
  art-community-platform/backend/app/api/views/user.py
  art-community-platform/backend/requirements.txt
Labels: Bug, Priority: Urgent, Backend

#504 Added Art Item Recommendation Unit Tests
  art-community-platform/backend/app/api/tests/test_recommend.py
Labels: Priority: High, Backend

#508 [Backend] [Test] Create and Update Annotation Tests
  art-community-platform/backend/app/api/tests/test_annotation.py
  art-community-platform/backend/app/api/tests/test_urls.py
Labels: Priority: High, Backend

#509 [Backend] User level information added to profile
  art-community-platform/backend/app/api/tests/test_profile.py
  art-community-platform/backend/app/api/tests/test_user.py
  art-community-platform/backend/app/api/views/profile.py
  art-community-platform/backend/app/api/views/user.py
Labels: Enhancement, Backend

#511 [Backend] User recommendation
  art-community-platform/backend/app/api/helpers/recommendation_helpers.py
  art-community-platform/backend/app/api/helpers/user_helpers.py
  art-community-platform/backend/app/api/tests/test_recommend.py
  art-community-platform/backend/app/api/tests/test_urls.py
  art-community-platform/backend/app/api/urls.py
  art-community-platform/backend/app/api/views/recommend.py
Labels: Enhancement, Backend

#519 Unit test recommend
  art-community-platform/backend/app/api/tests/test_recommend_users
Labels: Backend

#522 [Backend] Rename test file
  art-community-platform/backend/app/api/tests/test_recommend_users.py
Labels: Bug, Backend

#524 Fix: owner id field added to art item
  art-community-platform/backend/app/api/views/art_item.py
Labels: Bug, Backend

#533 [BUG] Fix: owner id check added to recommendations
  art-community-platform/backend/app/api/helpers/recommendation_helpers.py
  art-community-platform/backend/app/api/views/recommend.py
Labels: Bug, Priority: Urgent, Backend

#545 [Frontend] Final version
  art-community-platform/frontend/package-lock.json
  art-community-platform/frontend/package.json
  art-community-platform/frontend/src/components/Annotation.js
  art-community-platform/frontend/src/components/Detailed-Art-Item.js
  art-community-platform/frontend/src/components/Exhibition.js
  art-community-platform/frontend/src/components/Navbar.js
  art-community-platform/frontend/src/components/Profile.js
  art-community-platform/frontend/src/components/Search.js
  art-community-platform/frontend/src/components/User.js
  art-community-platform/frontend/src/pages/ExhibitionPage.js
  art-community-platform/frontend/src/routing/RouteList.js
  art-community-platform/frontend/src/store/axios.js
  art-community-platform/frontend/src/store/urls.js
Labels: Frontend
